###Task 1
###Base Types

In [ ]:
inte = 786       # Base Types
deci = 9.23
boolean_x = True
stri = "One\nTwo"
byt = b"toto\xfe\775"
print("Integer :",inte,"\nFloat : ",deci,"\nBool : ",boolean_x,"\nString : ",stri,"\nBytes : ",byt)

Integer : 786
Float :  9.23
Bool :  True
String :  One
Two
Bytes :  b'toto\xfe\xfd'

###Task 2
###Container Types

In [ ]:
mylist = ["x",11,8.9]    # Container Types
mytuples = (1,5,9)
mydict = {1:"one",2:"two",3.14:"PI"}
myset = {1,9,3,0}
print("List : ",mylist,"\nTuples : ",mytuples,"\nDictionaries : ",mydict,"\nSet : ",myset)

List :  ['x', 11, 8.9]
Tuples :  (1, 5, 9)
Dictionaries :  {1: 'one', 2: 'two', 3.14: 'PI'}
Set :  {0, 1, 3, 9}

###Task 3
###Variables Assignment

In [ ]:
a=b=c=0          # Variables Assignment
print(a,b,c)
y,z,r = 9.2,-7.6,0
print(y,z,r)
a,b = b,a
print(a,b)
x = 0
x+=3
print(x)
x-=2
print(x)
x=None
print(x)
del x

0 0 0
9.2 -7.6 0
0 0
3
1
None

###Task 4
###Conversions

In [ ]:
x = int("15")          # Conversions
print(x)
x = int("3f",16)
print(x)
x = int(15.56)
print(x)
x = float("-11.24e8")
print(x)
x = round(15.56,1)
print(x)
x = bool(x)
print(x)
x = str("...")
print(x)
x = chr(64)
print(x)
x = repr(x)
print(x)
x = bytes([72,9,64])
print(x)
x = list("abc")
print(x)
x = dict([(3,"three"),(1,"one")])
print(x)
x = set(["one","two"])
print(x)
x = ":".join(['toto','12','pwd'])
print(x)
x = "words with spaces".split()
print(x)
x = "1,4,8,2".split(",")
print(x)

15
63
15
-1124000000.0
15.6
True
...
@
'@'
b'H\t@'
['a', 'b', 'c']
{3: 'three', 1: 'one'}
{'one', 'two'}
toto:12:pwd
['words', 'with', 'spaces']
['1', '4', '8', '2']

###Task 5
###conditional statement

In [ ]:
age = 20        # conditional statement
if age <= 18:
  state = "kid"
  print(state)
elif age > 65:
  state = "Retired"
  print(state)
else:
  state="Active"
  print(state)

Active

###Task 6
###Boolean Logic

In [ ]:
print("2 < 3 : ", 2 < 3)                 # Boolean Logic
print("2 <= 3 :", 2 <= 3)
print("2 > 3 :", 2 > 3)
print("2 >= 3 :", 2 >= 3)
print("2 == 3 :", 2 == 3)
print("2 != 3 :", 2 != 3)

2 < 3 :  True
2 <= 3 : True
2 > 3 : False
2 >= 3 : False
2 == 3 : False
2 != 3 : True

###Task 7
###Maths

In [ ]:
from math import sin,cos,pi,sqrt,log,e,ceil,floor
                                   # Maths
print((1+5.3)*2)
print(abs(-3.2))
print(round(3.57,1))
print(pow(4,3))

print(sin(pi/4))
print(cos(2*pi/3))
print(sqrt(81))
print(log(e**2))
print(ceil(12.5))
print(floor(12.5))

12.6
3.2
3.6
64
0.7071067811865475
-0.4999999999999998
9.0
2.0
13
12

###Task 8
###Exception on Errors

In [ ]:
try:                    # Exception on Errors
  print(w)
except NameError:
  print("Variable w is not defined")
except:
  print("Something else went wrong")

Variable w is not defined

###Task 9
### Conditional Loop Statement

In [ ]:
s = 0         # Conditional Loop Statement
i = 1
while i < 100:
  s = s + i**2
  i = i + 1
  print("sum: ",s)

sum:  1
sum:  5
sum:  14
sum:  30
sum:  55
sum:  91
sum:  140
sum:  204
sum:  285
sum:  385
sum:  506
sum:  650
sum:  819
sum:  1015
sum:  1240
sum:  1496
sum:  1785
sum:  2109
sum:  2470
sum:  2870
sum:  3311
sum:  3795
sum:  4324
sum:  4900
sum:  5525
sum:  6201
sum:  6930
sum:  7714
sum:  8555
sum:  9455
sum:  10416
sum:  11440
sum:  12529
sum:  13685
sum:  14910
sum:  16206
sum:  17575
sum:  19019
sum:  20540
sum:  22140
sum:  23821
sum:  25585
sum:  27434
sum:  29370
sum:  31395
sum:  33511
sum:  35720
sum:  38024
sum:  40425
sum:  42925
sum:  45526
sum:  48230
sum:  51039
sum:  53955
sum:  56980
sum:  60116
sum:  63365
sum:  66729
sum:  70210
sum:  73810
sum:  77531
sum:  81375
sum:  85344
sum:  89440
sum:  93665
sum:  98021
sum:  102510
sum:  107134
sum:  111895
sum:  116795
sum:  121836
sum:  127020
sum:  132349
sum:  137825
sum:  143450
sum:  149226
sum:  155155
sum:  161239
sum:  167480
sum:  173880
sum:  180441
sum:  187165
sum:  194054
sum:  201110
sum:  208335
sum:  215731
sum:  223300
sum:  231044
sum:  238965
sum:  247065
sum:  255346
sum:  263810
sum:  272459
sum:  281295
sum:  290320
sum:  299536
sum:  308945
sum:  318549
sum:  328350

###Task 10
###Iterative Loop Statement

In [ ]:
s = "Some Text"     # Iterative Loop Statement
cnt = 0

for c in s:
  if c == "e":
      cnt = cnt + 1
  print("found",cnt,"'e'")

found 0 'e'
found 0 'e'
found 0 'e'
found 1 'e'
found 1 'e'
found 1 'e'
found 2 'e'
found 2 'e'
found 2 'e'

### Task 11
###Input and Display

In [ ]:
s = input("Instructions: ")       # Input and Display
print(s)

Instructions: 5
5

###Task 12
###Integer Sequences

In [ ]:
print(range(5))        # Integer Sequences
print(range(2,12,3))
print(range(20,5,-5))

range(0, 5)
range(2, 12, 3)
range(20, 5, -5)