##Task 1

###Write two lines of code below, each assigning a value to a variable

###Now write a print statement using .format() to print out a sentence
###and the values of both of the variables

In [ ]:
txt = "For only {price:.2f} dollars!"    # Task 1
print(txt.format(price = 49))

##Task 2

###Write two lines of code below, each assigning a value to a variable
###Now write a print statement using .format() to print out a sentence
###and the values of both of the variable

In [ ]:
name = "ahsan ali"     # Task 2

print(name.capitalize())
print(name.casefold())
x = name.center(40, '.')
print("The string after applying the center() function is:", x)
print('Number of occurrence of a:', name.count('a'))
str="Hello! Welcome Ahsan."
str_encoded= str.encode('utf_16','strict')
print("The encoded string is: ", str_encoded)
suffix = "an.";
result=str.endswith(suffix)
print("The input string ends with the given suffix:", result)
result = str.expandtabs()
print(result)
print(name.find('ali'))
result = name.format('XYZ', 'New World')
print(result)
point = {'x':4,'y':-5}
print('{x} {y}'.format(**point))
str = "tutorial"
result=str.isalnum()
print("Are all the characters of the string alphanumeric?", result)
print(name.isalpha())
x = name.isascii()
print(x)
print(name.isdecimal())
txt = "50800"
x = txt.isdigit()
print(x)
x = name.isidentifier()
print(x)
x = name.islower()
print(x)
pin = "523"
print(pin.isnumeric())
x = name.isprintable()
print(x)
txt = "   "
x = txt.isspace()
print(x)

Ahsan ali
ahsan ali
The string after applying the center() function is: ...............ahsan ali................
Number of occurrence of a: 3
The encoded string is:  b'\xff\xfeH\x00e\x00l\x00l\x00o\x00!\x00 \x00W\x00e\x00l\x00c\x00o\x00m\x00e\x00 \x00A\x00h\x00s\x00a\x00n\x00.\x00'
The input string ends with the given suffix: True
Hello! Welcome Ahsan.
6
ahsan ali
4 -5
Are all the characters of the string alphanumeric? True
False
True
False
True
False
True
True
True
True

##Task 3
##List Indexing
###Use list indexing to determine how many days are in a particular month based on the integer variable month , and store that value in the integer variable num_days . For example, if month is 8, num_days should be set to 31, since the eighth month, August,has 31 days.
###Remember to account for zero-based indexing!

In [ ]:
 # Task 3 List Indexing
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

# Use list indexing to determine the number of days in month
num_days = days_in_month[month - 1]

print(num_days)

31

##Task 4
###Select the three most recent dates from this list using list slicing notation. Hint: negative indexes
###work in slices!

In [ ]:
# TASK # 4
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']

# Use list slicing to select the last three elements
recent_dates = eclipse_dates[-3:]

print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

##Task 5
###Store student’s data using nested dictionary

In [ ]:
 # Task 5 Store student’s data using nested dictionary.
student_data = {
    "1": {
        "name": "John Doe",
        "age": 20,
        "grades": [90, 80, 70],
    },
    "2": {
        "name": "Jane Doe",
        "age": 19,
        "grades": [85, 75, 65],
    },
}
for student_id, student_info in student_data.items():
    print(f"Student ID: {student_id}")
    print(f"Name: {student_info['name']}")
    print(f"Age: {student_info['age']}")
    print(f"Grades: {student_info['grades']}")

Student ID: 1
Name: John Doe
Age: 20
Grades: [90, 80, 70]
Student ID: 2
Name: Jane Doe
Age: 19
Grades: [85, 75, 65]